$roboto: "Roboto", "Arial", sans-serif;

$black: #131417;
$lighterBlack: #252830;
$white: #FAFAFA;
$red: #EB5757;
$orange: #F2994A;
$green: #5BC12C;
$blue: #2D9CDB;

$wrapper: 1240px;
$nav: 640px;
$mobile: 376px;
$tablet: 769px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
